:root {
  --navBar-height--:56px;
  --secondary-font-color:#aaa;
  --primary-icon-fill: #ffffff;
  --menu-background-color: #282828;
  --background-color--:#0F0F0F;
}

html, body, #root{
  border: 0;
  margin: 0;
  width: 100%;

  font-family: 'Roboto', sans-serif;
}
