.navbar{
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
}

.buttonsContainer{
  display: flex;
  align-items: center;
}

.secondContainer{
  gap: 8px;
}